<h3>Registration Details</h3><br />
<strong>Student Name:&nbsp;&nbsp;</strong> 
  <%= @registration.student.proper_name %><br /><br />

<strong>Camp Name:&nbsp;&nbsp;</strong>
  <%= @registration.camp.name %><br /><br />

<strong>Payment Status:&nbsp;&nbsp;</strong> 
  <%= @registration.payment_status %><br /><br />

