
<div class="row">
      <div class="small-12 columns" id="main_content">
<div id = "homepage">
<p id= "home">Welcome to ChessCamp</p>
<p id ="homeside">
 The A &amp; M 
  Chess Camps are the finest chess camps in the United States (<em>we concede 
  Russia can do better, but not much better</em>) and guaranteed to 
  <strong>transform your son or daughter into a tiger at the chess board</strong>.  
  The links below will tell you more about our camps, curriculums and 
  instructors and in the future will actually allow you to register your son 
  or daughter for those camps. [<%= link_to "O Happy Day!", "https://www.youtube.com/watch?v=a37bBm8pXSk" %>]
</br>
<%= link_to "click here to login", login_path %> | <%= link_to "View available camps", camps_path %></p>
</div>



</div>
</div>
